:root{
    --skin-color:#204a9f;
    --bg-color-left: linear-gradient(to left,#e4e8eb,#908f8f);
    --bg-color-right: linear-gradient(to right,#e4e8eb,#908f8f);
    --bg-color-switcher:#908f8f;
    --text-color:black;
    --text-color-reverse:white;
    --clrh:green;
    --clrm:chocolate;
    --clrs:purple;
    --green:rgb(2, 117, 2);
    --orange:rgb(205, 75, 5);
    --violet:rgb(120, 11, 215);
    --progressbar:#009ee7;
}