:root{
    --skin-color:wheat;
    --bg-color-left:#4e4e4e;
    --bg-color-right:#292929;
    --bg-color-box:#777777;
    --text-color:white;
    --text-color-reverse:black;
    --clrh:lightgreen;
    --clrm:gold;
    --clrs:lightpink;
    --hover-color:lightskyblue;
    --green:greenyellow;
    --orange:orange;
    --violet:violet;
    --progressbar:#c8b389;
}